$mobile-only: "only screen and (max-width : 768px)";
$laptop-only: "only screen and (min-width : 769px)";
$tablet-only: "only screen and (max-width : 1024px)";


#submitField {
  background-color: #F6F6EF;
  position: relative;
  min-height: 85px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
}

p {
  text-align: center;
}

input[type=text] {
  position:relative;
  width: 35%;
  margin-left: 30%;

  @media #{$mobile-only} {
    //width: 40%;
    //margin-left: 25%;
  }
}

button {
  position: relative;
  display: inline-block;
}
