$mobile-only: "only screen and (max-width : 768px)";
$laptop-only: "only screen and (min-width : 769px)";
$tablet-only: "only screen and (max-width : 1024px)";

textarea {
  outline: none;
  resize: none;
  position:relative;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  max-width: 80%;

}

#result {
  background-color: #F6F6EF;
  position: relative;
  width: 85%;
  min-height: 200px;
  padding-bottom: 90px;
  margin: 0 auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  height: 100%;

   @media #{$mobile-only} {
    width: 100%;
    background-color: #fff;
  }
}